!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    %title
      = current_page.data.title || "Middleman"
      \- YCのぷち研究室
    %link{:href => "//fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag :site
    = javascript_include_tag :all
    = stylesheet_link_tag bootstrap_css
    = partial 'syntaxhighlighter'
  %body{:class => page_classes}
    %header
      Header
      / ヘッダ
      = alert_box 'You accepted the Terms of service.', dismissible: true
    %nav
      = partial 'navi'
      / ナビ
    %article
      = yield
      = partial 'syntaxhighlighter_all'
    %footer Copyright (C) Y.Chubachi 2016
